<div class="row">
	<div class="col-md-12 contenido">
		<div class="col-md-12 barraNotificaciones">
			<div class="row">
				<div class="iconosNot  col-md-12">
					<i class="fas fa-sign-out-alt iconos derIcon"></i>
					<i class="far fa-bell iconos derIcon"></i>
				</div>
				<div class="logoAdmin col-md-12">
					<img src="../Images/logoBlanco.png" />
				</div>
			</div>
		</div>

		<div class="col-md-12 circleProgress">
			<div class="item col-md-3">
				<div class="panel panel-primary">
					<div class="panel-body text-center">
						<ui-knob value="value" options="options"></ui-knob>
					</div>
				</div>
			</div>
			<div class="item col-md-3">
				<div class="panel panel-primary">
					<div class="panel-body text-center">
						<ui-knob value="value2" options="options2"></ui-knob>
					</div>
				</div>
			</div>
			<div class="item col-md-3">
				<div class="panel panel-primary">
					<div class="panel-body text-center">
						<ui-knob value="value3" options="options3"></ui-knob>
					</div>
				</div>
			</div>
			<div class="item col-md-3">
				<div class="panel panel-primary">
					<div class="panel-body text-center">
						<ui-knob value="value4" options="options4"></ui-knob>
					</div>
				</div>
			</div>
		</div>
		<div class="contenedorDatos col-md-12">
			<h2 style="text-align: center;margin: 20px;font-size: 25px;">
				Proyectos presentados
			</h2>

			<div class="tabla table-responsive col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Ton Totales</th>
							<th>Ton A Compensar</th>
							<th>Área</th>
							<th>Árboles/Hectarea</th>
							<th>Total árboles</th>
							<th>Especie</th>
							<th>Años Estimados</th>
							<th>Estado</th>
							<th>---Progreso----</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>256</td>
							<td>240</td>
							<td>52</td>
							<td>100</td>
							<td>5200</td>
							<td>Acacia</td>
							<td>5</td>
							<td>Inactivo</td>
							<td>
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
								</div>
							</td>
							<td>
								<button type="button" class="miBtn" data-toggle="modal" data-target="#exampleModal">
									<i class="fas fa-eye iconosTabla"></i>
								</button>
								<i class="fas fa-edit iconosTabla"></i>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td>256</td>
							<td>240</td>
							<td>52</td>
							<td>100</td>
							<td>5200</td>
							<td>Acacia</td>
							<td>5</td>
							<td>Inactivo</td>
							<td>
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
								</div>
							</td>
							<td><i class="fas fa-eye iconosTabla"></i><i class="fas fa-edit iconosTabla"></i></td>
						</tr>
						<tr>
							<td>1</td>
							<td>256</td>
							<td>240</td>
							<td>52</td>
							<td>100</td>
							<td>5200</td>
							<td>Acacia</td>
							<td>5</td>
							<td>Inactivo</td>
							<td>
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
								</div>
							</td>
							<td><i class="fas fa-eye iconosTabla"></i><i class="fas fa-edit iconosTabla"></i></td>
						</tr>
						<tr>
							<td>1</td>
							<td>256</td>
							<td>240</td>
							<td>52</td>
							<td>100</td>
							<td>5200</td>
							<td>Acacia</td>
							<td>5</td>
							<td>Inactivo</td>
							<td>
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
								</div>
							</td>
							<td><i class="fas fa-eye iconosTabla"></i><i class="fas fa-edit iconosTabla"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							...
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<h3 style="text-align:center; color:white; padding-top:25px">Fábrica de software 2018 &copy;</h3>
</footer>