<div class="row">
	<div class="col-md-12 contenido">
		<div class="col-md-12 barraNotificaciones">
			<div class="row">
				<div class="iconosNot  col-md-12">
					<div class="logout">
						<img src="../Images/logout.png" class="logoutImage" />
						<br />
						<span>Salir</span>

					</div>
					<div class="notificacionesCont row">
						<div class="Notificacionestitulo col-md-12">
							<div class="col-md-10">
								<p>Notificaciones</p>
							</div>
							<button type="button" class="close col-md-2" style="margin-top: 6px;" ng-click="mostrarNotificaciones()">
								<i class="fas fa-times"></i>
							</button>
						</div>
						<hr style="margin:0px;" class="col-md-12" />
						<p><b>1</b> Nuevo proyecto por aprobar</p>
					</div>
				</div>
				<div class="logoAdmin col-md-12">
					<img src="../Images/logoBlanco.png" style="top:-5px"/>
				</div>
			</div>
		</div>

		<div class="col-md-12 circleProgress">
			<center>
				<div class="item col-md-3">
					<div class="panel panel-primary">
						<div class="panel-body text-center">
							<ui-knob value="value" options="options"></ui-knob>
						</div>
					</div>
				</div>
				<div class="item col-md-3">
					<div class="panel panel-primary">
						<div class="panel-body text-center">
							<ui-knob value="value2" options="options2"></ui-knob>
						</div>
					</div>
				</div>
				<div class="item col-md-3">
					<div class="panel panel-primary">
						<div class="panel-body text-center">
							<ui-knob value="value3" options="options3"></ui-knob>
						</div>
					</div>
				</div>
				<div class="item col-md-3">
					<div class="panel panel-primary">
						<div class="panel-body text-center">
							<ui-knob value="value4" options="options4"></ui-knob>
						</div>
					</div>
				</div>
			</center>
		</div>
		<div class="contenedorDatos col-md-12">
			<div class="row">
				<div class="col-md-6">
					<form class="navbar-form navbar-left" style="margin-top:25px">
						<div class="form-group">
							<input type="text" class="form-control buscarProyecto" id="Buscar" style="border:1px solid #82a20d;font-size:14px" ng-model="filtro" placeholder="Buscar Proyecto">
						</div>
						<button type="submit" class="btn btn-default" style="background:#82a20d; color:white;font-family:Poppins;font-size:16px;border: none;"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<div class="col-md-6">
					<nav class="filtro">
						<ul class="dots">
							<li>
								<a class="btn btn-primary" ng-click="FiltroProyectos(false)" style="border-radius: 20px 0px 0px !important; ">
									<p class="txtFilter"> Cancelados</p>
								</a>
							</li>
							<li>
								<a class="btn btn-primary" ng-click="FiltroProyectos(true)" style="border-radius:0px !important;">
									<p class="txtFilter">En Ejecución</p>
								</a>
							</li>
							<!-- ng-click="mostrarNotificaciones() -->
							<li>
								<a class="btn btn-primary" ng-click="FiltroProyectos(null)" style="border-radius: 0px 0px 20px 0px !important">
									<mark class="rubberBand" style="left: 90px !important;top:-3px !important;">{{ value4 }}</mark>
									<p class="txtFilter">Por Aprobar</p>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="tabla table-responsive col-md-12">
				<table class="table">
					<thead>
						<tr class="trTabla">
							<th>Id</th>
							<th>Ton Totales</th>
							<th>% Compensar</th>
							<th>Área</th>
							<th>Árboles/Hectarea</th>
							<th>Total árboles</th>
							<th>Especie</th>
							<th>Estado</th>
							<th ng-if="Listar[0].Estado == true">Progreso del Proyecto</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody class="searchable">
						<tr class="paginationClass tdBody" ng-repeat="ListaData in Listar | filter:filtro as resultado">
							<td>{{ ListaData.IdDetalle }}</td>
							<td>{{ ListaData.Toneledas }}</td>
							<td>{{ ListaData.Porcentaje }}</td>
							<td>{{ ListaData.Area }}</td>
							<td>{{ ListaData.DensidadArbolHectarea }}</td>
							<td>{{ ListaData.Cant_arboles }}</td>
							<td>{{ ListaData.TipoArbol }}</td>
							<td class="estadoTabla">
								<h2 ng-if="ListaData.Estado == false">Cancelado</h2>
								<h2 ng-if="ListaData.Estado == true">En ejecución</h2>
								<h2 ng-if="ListaData.Estado == null">Inactivo</h2>
							</td>
							<td ng-if="ListaData.Estado == true">
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width: {{ListaData.PorcentajeDashboard}}%" aria-valuenow="{{ListaData.PorcentajeDashboard}}" aria-valuemin="0" aria-valuemax="100">{{ListaData.PorcentajeDashboard}}%</div>
								</div>
							</td>
							<td>
								<button type="button" class="miBtn" data-toggle="modal" data-target="#exampleModal" ng-click="CapIdEmpresa(ListaData.IdEmpresa, ListaData.IdDetalle)">
									<i class="fas fa-eye iconosTabla"></i>
								</button>
								<button ng-if="Listar[0].Estado == true" style="border: none; background: none;">
									<i class="fas fa-edit iconosTabla" ng-click="CapIdInt(ListaData.IdDetalle)"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header headerModal">
							<div class="titleModal">
								<h3 style="font-size:30px; color:white; text-align:center; font-weight:bold" class="modal-title" id="exampleModalLabel">{{Empresa.NombreEmpresa | uppercase}}</h3>
								<h3 style="font-size:18px;color:white; text-align:center;font-weight:bold" class="modal-title" ng-if="Empresa.TipoEmpresa == 1">Institución educativa</h3>
								<h3 style="font-size:18px;color:white; text-align:center;font-weight:bold" class="modal-title" ng-if="Empresa.TipoEmpresa == 2">Empresa de transporte</h3>
							</div>
						</div>
						<div class="modal-body">
							<center>
								<nav class="itemsModal">
									<ul class="dots liModal">
										<li><span class="fas fa-map-marker-alt"></span> <br /> <b>{{Empresa.Direccion}}</b> </li>
										<li><span class="fas fa-envelope"></span> <br /> <b>{{Empresa.Email}}</b> </li>
										<li><span class="fas fa-fingerprint"></span> <br /> <b>{{Empresa.Nit}}</b> </li>
									</ul>
								</nav>
							</center>
							<hr ng-if="ListaData.Estado != false"/>
							<center>
								<div class="botonesModal">
									<button ng-if="Listar[0].Estado == null" type="button" ng-click="CambiarEstadoProyecto(true)" class="btn btn-success btnAprobar">Aprobar</button>
									<button ng-if="Listar[0].Estado == null || Listar[0].Estado == true" type="button" ng-click="CambiarEstadoProyecto(false)" class="btn btn-danger btnCancelar">Cancelar</button>
								</div>
							</center>
							<!--<button type="button" class="btn" data-dismiss="modal" aria-label="Close" style="background:none; box-shadow:none"><i class="fas fa-times"></i></button>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
<footer>
	<h3 style="text-align:center; color:white; padding-top:25px">Fábrica de software 2018 &copy;</h3>
</footer>