<div class="row">
	<div class="wrapper1 col-md-2">
		<img src="../../Images/802.jpg" class="imgSideBar" />
	</div>
	<div class="wrapper col-lg-2  col-md-2">
		<div class="side-bar">
			<div class="logoAdmin">
				<img src="../../Images/logoBlanco.png" />
			</div>
			<ul class="nav flex-column menu" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="v-pills-inicio-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-inicio" aria-selected="true">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="v-pills-proyectos-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-proyectos" aria-selected="false">Proyectos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="v-pills-usuarios-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-usuarios" aria-selected="false">Administar Usuarios</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-10 contenido">
		<div class="col-md-12 barraNotificaciones">
			<i class="fas fa-ellipsis-v iconos"></i>
			<i class="far fa-bell iconos"></i>
			<i class="fas fa-sign-out-alt iconos"></i>
		</div>
		<div class="col-md-12 circleProgress">
			<div class="item col-md-4">
				<div class="panel panel-primary">
					<div class="panel-body text-center">
						<ui-knob value="value" options="options"></ui-knob>
					</div>
				</div>
			</div>
			<div class="item col-md-4">
				<div class="panel panel-primary">
					<div class="panel-body text-center">
						<ui-knob value="value2" options="options2"></ui-knob>
					</div>
				</div>
			</div>
			<div class="item col-md-4">
				<div class="panel panel-primary">
					<div class="panel-body text-center">
						<ui-knob value="value3" options="options3"></ui-knob>
					</div>
				</div>
			</div>
		</div>
		<div class="contenedorDatos col-md-12">
			<div class="tabla table-responsive col-md-11">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>Toneladas Totales</th>
							<th>Toneladas A Compensar</th>
							<th>Área</th>
							<th>Árboles/Hectarea</th>
							<th>Total del árboles</th>
							<th>Especie</th>
							<th>Años Estimados</th>
							<th>Estado</th>
							<th>Progreso</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>256</td>
							<td>240</td>
							<td>52</td>
							<td>100</td>
							<td>5200</td>
							<td>Acacia</td>
							<td>5</td>
							<td>Inactivo</td>
							<td>12%</td>
							<td><i class="fas fa-eye iconosTabla"></i><i class="fas fa-edit iconosTabla"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>