<div id="sigue" class="contenedor">
		<section class="index">
			<div class="slide">
				<div class="logo justify-content-center">
					<img class="center-block" src="../Images/logo.png" alt="Logo Huella de Carbono" />
				</div>
				<div>
					<p class="txtInicio">
						Calcula la huella de carbono <br />
						de tu organización
					</p>
					<div class="selectCargo">
						<form>
							<input class="radio" type="radio" name="cargo" value="Funcionario" />Funcionario
							<input class="radio" type="radio" name="cargo" value="Aprendiz" />Estudiante
							<button type="submit"  id="botonPasar" class="botonPasar center-block btn btn-success boton" enlace=".transporte">
								CALCULAR
							</button>
						</form>
					</div>
				</div>
				<div class="bgAnimado justify-content-center">
					<div class="tierra">
						<img src="../Images/tierra.gif" />
					</div>
					<div class="nubes">
						<img id="nube1" src="../Images/nube1.png" />
						<img id="nube2" src="../Images/nube2.png" />
						<img id="nube3" src="../Images/nube3.png" />
						<img id="nube4" src="../Images/nube4.png" />
					</div>
				</div>
			</div>
		</section>

		<section class="transporte">
			<div class="logoEncuesta">
				<img src="../Images/logo.png" alt="Logo Huella de Carbono" />
			</div>
			<div class="pasar">
				<div class="izq">
					<img id="ant1" src="../Images/anterior.png" alt="Anterior"  enlace=".index" />
				</div>
				<div class="der botonPasar">
					<img  id="sig1" src="../Images/siguiente.png" alt="Siguiente"  enlace=".vuelos"/>
				</div>
			</div>
			<div class="preguntas">
				<p class="txtPregunta">
					¿Cuál medio de transporte usa para llegar a la
					<br />
					institución?
				</p>
				<select class="mediosTrans">
					<option value="Bicicleta">Bicicleta</option>
					<option value="Automovil">Automovil</option>
					<option value="N/A">N/A</option>
				</select>
				<p class="txtPregunta">
					¿Cuantos kilometros recorre diariamente en
					<br />
					bicicleta?
				</p>
				<div>
					<diV>
						<p>Price: {{priceSlider.value}}</p>
						<rzslider rz-slider-model="priceSlider.value"
								  rz-slider-options="priceSlider.options">
						</rzslider>
					</diV>
					<!--div ng-controller="TestController as vm">
						
						<rzslider rz-slider-model="vm.priceSlider.value" rz-slider-options="vm.priceSlider.options"></rzslider>
					</div>-->
				</div>
						<!--<div class="bar" id="bar">
				<div class="gris"></div>
				<div class="degradado"></div>
				<div class="circulo" id="circulo"></div>
			</div>-->
					</div>
</section>

		<section class="vuelos">
			<div class="logoEncuesta">
				<img src="../Images/logo.png" alt="Logo Huella de Carbono" />
			</div>
			<div class="pasar">
				<div class="izq">
					<img id="ant2" src="../Images/anterior.png" alt="Anterior" enlace=".transporte" />
				</div>
				<div class="der botonPasar">
					<img id="sig2" src="../Images/siguiente.png" alt="Siguiente" enlace=".vuelos" />
				</div>
			</div>
			<div class="preguntas">
				<p class="txtPregunta">
					¿Cuántos vuelos nacionales realiza al año?
				</p>
				<div class="bar">
					<div class="gris"></div>
					<div class="degradado"></div>
					<div class="circulo"></div>
				</div>
				<p class="txtPregunta">
					¿Cuántos vuelos internacionales realiza al año?
				</p>
				<div class="bar">
					<div class="gris"></div>
					<div class="degradado"></div>
					<div class="circulo"></div>
				</div>
				<p class="txtPregunta">
					¿Cuántas horas  promedio ha viajado en avión al año?
				</p>
				<div class="bar">
					<div class="gris"></div>
					<div class="degradado"></div>
					<div class="circulo"></div>
				</div>

			</div>
		</section>
	</div>
