<div class="contenedor">
	
	<section class="index">
		<div class="slide">
			<div class="logo justify-content-center">
				<img class="center-block" src="../Images/logo.png" alt="Logo Huella de Carbono" />
			</div>
			<div>
				<p class="txtInicio">
					Calcula la huella de carbono <br />
					de tu organización
				</p>
				<div class="selectCargo">
					<input class="radio" type="radio" name="cargo" value="Funcionario" />Funcionario
					<input class="radio" type="radio" name="cargo" value="Aprendiz" />Estudiante
					<button type="submit" class="center-block btn btn-success boton">
						CALCULAR
					</button>
				</div>
			</div>
			<div class="bgAnimado justify-content-center">
				<img class="tierra center-block" src="../Images/planeta.png" alt="Tierra Girando" />
				<div class="nubes">
					<img id="nube1" src="../Images/nube1.png" />
					<img id="nube2" src="../Images/nube2.png" />
					<img id="nube3" src="../Images/nube3.png" />
					<img id="nube4" src="../Images/nube4.png" />
				</div>
			</div>
		</div>
	</section>

	<section class="transporte">
		<div class="logoEncuesta">
			<img src="../Images/logo.png" alt="Logo Huella de Carbono" />
		</div>
		<div class="preguntas">
			<p class="txtPregunta">
				¿Cuál medio de transporte usa para llegar a la
				<br />
				institución?
			</p>
			<select class="mediosTrans">
				<option value="Bicicleta">Bicicleta</option>
				<option value="Automovil">Automovil</option>
				<option value="N/A">N/A</option>
			</select>
			<p class="txtPregunta">
				¿Cuantos kilometros recorre diariamente en
				<br />
				bicicleta?
			</p>
			<div class="bar">
				<div class="gris"></div>
				<div class="degradado"></div>
				<div class="circulo"></div>
			</div>
		</div>
	</section>

</div>