<div class="contenedorLogin">
	<div class="contenedorLogearse">
		<img class="logo" src="../../Images/logo.png" />
		<form class="formulario col-md-12">
			<div class="form-group">
				<input class="form-control" type="text" name="user" value="" placeholder="Usuario" />
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="user" value="" placeholder="Contraseña" />
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" name="name" value="" id="recordar" />
				<label class="form-check-label" for="recordar"><b>Recordarme</b></label>
			</div>
			<div class="form-group">
				<button class="btn btn-success boton" type="submit">
					INGRESAR
				</button>
				<div class="form-group">
					<label><a href="#"><b>¿Has olvidado la contraseña?</b></a></label>
				</div>
			</div>
		</form>
	</div>
</div>