<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<div class="container-fluid" style="box-shadow:1px 1px 15px #ccc;margin:20px !important; border-radius:20px;padding:20px;display:block; margin:0px auto;">
		<div class="logo justify-content-center">
			<img style="padding-top:0px !important;" class="center-block" src="../Images/logo.png" alt="Logo Huella de Carbono" />
		</div>
		<h1 style="text-align:center">Politicas de privacidad</h1>
		<h2 style="font-size:17px">1. ÁMBITO DE APLICACIÓN </h2>
		<br />
		<p style="font-size:16px;">
			Las políticas y procedimientos consagrados en este documento se aplican a los Datos Personales e Información recolectadas en las bases de datos propiedad de Huella de Carbono Sena Realizado en forma presencial y/o virtual para la vinculación de los usuarios.
		</p>
		<br />
		<h2 style="font-size:17px">2.    PRINCIPIOS RECTORES</h2>
		<br />
		<p style="font-size:16px;">
			Con el fin de proteger los derechos relativos al Tratamiento de Datos Personales, Seguridad Huella de Carbono Sena. Aplicará de manera armónica e integral los siguientes principios:
			<br /><br />
			<b> Legalidad: </b>La recolección y el Tratamiento de Datos Personales es lleva acabo de acuerdo
			a las disposiciones vigentes y aplicables que rigen el tratamiento de datos personales y
			demás derechos fundamentales conexos.
			<br /><br />
			<b>Libertad: </b>La recolección y el Tratamiento de Datos Personales se llevaran a cabo con su
			consentimiento, previo, expreso e informado del Titular. La Información personal no será
			obtenida ni divulgada sin previa autorización, salvo en los casos en que exista un mandato
			legal, estatutario, o judicial que releve el consentimiento.
			<br /><br />
			<b>Veracidad o calidad:</b> la Información y Datos Personales sujetos al Tratamiento debe ser
			veraz, completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el
			tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error.
			<br /><br />
			<b>Transparencia: </b>Se garantiza al (los) Titular (es) de la Información, que en cualquier
			momento y sin restricciones, podrá obtener información acerca de la existencia de datos
			que le conciernan.
			<br /><br />
			<b>Acceso y circulación restringida:</b> Se garantiza que los Datos Personales, salvo la
			información pública, no estará disponible en Internet u otros medios de divulgación o
			comunicación masiva, salvo que el acceso sea técnicamente controlable para brindar un
			conocimiento restringido sólo a los titulares o terceros autorizados. Frente a estos
			propósitos, nuestra obligación, será de medio.
			<br /><br />
			<b>Seguridad:</b> La Información y /o Datos Personales sujeta a tratamiento por Huella de Carbono Sena
			será objeto de protección con los recursos técnicos y estándares necesarios, para esto, se adoptan medidas tecnológicas de protección, protocolos, y administrativas para
			otorgar seguridad a los registros y repositorios electrónicos donde almacenamos y custodiamos su información; con el fin de evitar la adulteración, modificación,
			pérdida, consulta, y en general cualquier uso o acceso no autorizado.
			<br /><br />
			<b>Confidencialidad: </b> Todas las personas que intervengan en el Tratamiento de Datos

			Personales que no tengan naturaleza de públicos, están obligados a conservar y mantener

			reserva y confidencialidad sobre la Información y Datos Personales, de igual forma se

			obligan a no revelar a Terceros cualquier tipo de información personal, comercial, contable

			y/o técnica, que llegase a conocer en la ejecución y ejercicio de sus funciones. Aquellas

			que trabajen actualmente o sean vinculadas a futuro para tal efecto, en la administración y

			manejo de bases de datos, deberán suscribir un documento adicional u otro sí a su contrato

			laboral o de prestación de servicios para efectos de asegurar tal compromiso. Esta

			obligación persiste y se mantiene inclusive después de finalizada su relación con alguna de

			las labores que comprende el tratamiento.

			<br />
			<br />

			<h2 style="font-size:17px">3.    DATOS E INFORMACIÓN SUCEPTIBLE DE TRATAMIENTO </h2>

			<br />

		<p style="font-size:16px;">
			Huella de Carbono Sena. Recolecta, recopila y trata información y/o Datos Personales de

			carácter público, privado, semiprivado y sensible. La recolección de los Datos se realiza de

			forma directa y se da como consecuencia del desarrollo al objeto comercial a través de los

			Datos suministrados libremente por los Cliente, Proveedores y/o trabajadores de la

			Compañía.
			<br /> <br />

			En todo caso, la Información personal reposa directamente en las bases de datos

			electrónicas de Huella de Carbono Sena. Las cuales cuentan con controles de acceso, medidas

			de seguridad física, técnica y administrativa, con lo cual se garantiza el acceso y circulación

			restringida de la información.
			<br /> <br />

			Además de lo señalado en el acápite de Definiciones, por datos sensibles también se

			entenderá toda aquella información recolectada y tratada a través de las pruebas

			psicotécnicas, visitas domiciliarias, estudios de seguridad. Adicionalmente, solo se podrá

			efectuar el tratamiento de la información personal de carácter sensible cuando el

			Responsable de la Información cuente con autorización expresa y explicita del Titular o bien

			cuando ocurra alguna de los siguientes puntos:
			<br /> <br />

			• El tratamiento sea necesario para guardar el interés vital del Titular y se

			encuentre física o jurídicamente incapacitado. En estos casos se deberá requerir

			autorización del Representante legal o quien haga sus veces. <br /> <br />

			• Si el tratamiento se refiera a datos que sean necesarios para el reconocimiento,

			ejercicio o defensa de un derecho en un proceso judicial <br /><br />

			• Si el tratamiento tiene una finalidad histórica, estadística o científica. Cuando

			esto ocurra, se tomarán las medidas necesarias para lograr la supresión de

			identidad del titular.
			<br /><br />


			En ningún momento el Titular estará obligado a autorizar el tratamiento de sus Datos

			Sensibles; en todo caso siempre mediará autorización previa y consciente en donde se le

			informará la finalidad del tratamiento de la información.
		</p>
		</p>
	</div>
</body>
</html>