<div class="row">
	<div class="col-md-12 contenido">
		<div class="col-md-12 barraNotificaciones">
			<div class="row">
				<div class="iconosNot  col-md-12">
					<i class="fas fa-sign-out-alt iconos derIcon"></i>
					<i class="far fa-bell iconos derIcon"></i>
				</div>
				<div class="logoAdmin col-md-12">
					<img src="../Images/logoBlanco.png" />
				</div>
			</div>
		</div>
	</div>
</div>


<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<a showtab="" class="nav-item nav-link active" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
		<a showtab="" class="nav-item nav-link"  href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
		<a showtab="" class="nav-item nav-link"  href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
	</div>
</nav>


<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
	<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
	<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>


<footer>
	<h3 style="text-align:center; color:white; padding-top:25px">Fábrica de software 2018 &copy;</h3>
</footer>