<div class="row">
	<div class="col-md-12 contenido">
		<div class="col-md-12 barraNotificaciones">
			<div class="row">
				<div class="iconosNot  col-md-12">
					<i class="fas fa-sign-out-alt iconos derIcon"></i>
					<i class="far fa-bell iconos derIcon"></i>
				</div>
				<div class="logoAdmin col-md-12" style="margin:20px auto">
					<img src="../Images/logoBlanco.png" />
				</div>
			</div>
		</div>
	</div>
</div>
 
<h2 style="font-size:30px; text-align:center;padding-top:25px;padding-bottom:25px">Proyecto Juan</h2>
<div class="row">
	<div class="col-md-12">
		<div class="progress" style="display: block; margin: 0px 200px 25px 200px; height: 2rem;">
			<div class="progress-bar bg-success" role="progressbar" style="width: 20%; height: 2rem;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20 %</div>
		</div>
	</div>
</div>

<div class="row">
	<nav class="col-md-2 fasesMenu">
		<ul class="nav nav-pills text-center nav-stacked" id="nav-tab" role="tablist" style="height:100%;">
			<li><a class="tab nav-item nav-link active" role="presentation" showtab="" href="#nav-home">Establecimiento (Año 1)</a></li>
			<li ng-click="ConsultarMantenimiento2(2)"><a class="tab nav-item nav-link" role="presentation" showtab="" href="#mantenimiento1">Mantenimiento (Año 2) </a></li>
			<li ng-click="ConsultarMantenimiento2(3)"><a class="tab nav-item nav-link" role="presentation" showtab="" href="#mantenimiento2">Mantenimiento (año 3)</a></li>
			<li ng-click="ConsultarMantenimiento3(4)"><a class="tab nav-item nav-link" role="presentation" showtab="" href="#mantenimiento3">Mantenimiento (año 5)</a></li>
			<li ng-click="ConsultarMantenimiento3(5)"><a class="tab nav-item nav-link" role="presentation" showtab="" href="#mantenimiento4">Mantenimiento (año 9)</a></li>
			<!--<li><a class="tab nav-item nav-link" role="presentation" showtab="" href="#mantenimiento5">Entresaca</a></li>
			<li><a class="tab nav-item nav-link" role="presentation" showtab="" href="#mantenimiento6">Aprovechamiento o <br /> cosecha (año 15)</a></li>-->
		</ul>
	</nav>


	<div class="tab-content col-md-10" id="nav-tabContent">
		<div class="tab-pane fade in active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<div class="row fase1"> 
				<div>
                    <form class="col-md-12" style="margin-bottom: 15px;" id="Establecimiento">
                        <h2 style="font-size:20px"> Seguimiento de cultivo</h2>
                        <hr />
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Preparacion" ng-model="Establecimiento.Preparacion" ng-click="ConfirmarCheck('Preparacion')"/>
                            <label>A.1 Preparación del terreno</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Roceria" ng-model="Establecimiento.Roceria"  ng-click="ConfirmarCheck('Roceria')"  ng-show="Establecimiento.Preparacion && posicion>=1" />
                            <label>A.2 Rocería y control químico</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Trazado" ng-model="Establecimiento.Trazado" ng-click="ConfirmarCheck('Trazado')" ng-show="Establecimiento.Roceria && posicion>=2"/>
                            <label>A.3 Trazado</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Plateo" ng-model="Establecimiento.Plateo"  ng-click="ConfirmarCheck('Plateo')" ng-show="Establecimiento.Trazado  && posicion>=3"/>
                            <label>A.4 Plateo y Ahoyado</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Transporte" ng-model="Establecimiento.Transporte" ng-click="ConfirmarCheck('Transporte')" ng-show="Establecimiento.Plateo && posicion>=4"/>
                            <label>A.5 Transporte de plantas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Plantacion" ng-model="Establecimiento.Plantacion"  ng-click="ConfirmarCheck('Plantacion')" ng-show="Establecimiento.Transporte && posicion>=5"/>
                            <label>A.6 Plantación</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Fertilizacion" ng-model="Establecimiento.Fertilizacion"  ng-click="ConfirmarCheck('Fertilizacion')" ng-show="Establecimiento.Plantacion && posicion >= 6"/>
                            <label>A.7 Fertilización</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Replantes" ng-model="Establecimiento.Replantes" ng-click="ConfirmarCheck('Replantes')" ng-show="Establecimiento.Fertilizacion && posicion >= 7"/>
                            <label>A.8 Replantes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Cercos" ng-model="Establecimiento.Cercos"  ng-click="ConfirmarCheck('Cercos')" ng-show="Establecimiento.Replantes && posicion >= 8"/>
                            <label>A.9 Cercos</label>
                        </div>

                    </form>
					<button type="submit" class="btn btn-success btnFases btn-block" ng-click="GuardarEstablecimiento()">
						Guardar
					</button>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="mantenimiento1" role="tabpanel" aria-labelledby="nav-profile-tab">
			<div class="row fase1">
				<div>
					<form class="col-md-4">
						<h2 style="font-size:20px"> Seguimiento de cultivo</h2>
						<hr />
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="b1" ng-model="Mantenimiento2.Planteos" />
							<label for="b1"><span></span>B.1 Planteos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="b2" ng-model="Mantenimiento2.Fertilizacion" ng-if="Mantenimiento2.Planteos"/>
							<label for="b2"><span></span>B.2 Fertilización</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="b3" ng-model="Mantenimiento2.Podas" ng-if="Mantenimiento2.Fertilizacion"/>
							<label for="b3"><span></span>B.3 Podas de formación</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="b4" ng-model="Mantenimiento2.Plagas" ng-if="Mantenimiento2.Podas"/>
							<label for="b4"><span></span>B.4 Control Plagas</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="b5" ng-model="Mantenimiento2.Enfermedades" ng-if="Mantenimiento2.Plagas"/>
							<label for="b5"><span></span>B.5 Control Enfermedades</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="b6" ng-model="Mantenimiento2.Malezas" ng-if="Mantenimiento2.Enfermedades"/>
							<label for="b6"><span></span>B.6 Control de Malezas</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="b7" ng-model="Mantenimiento2.Caminos" ng-if="Mantenimiento2.Malezas"/>
							<label for="b7"><span></span>B.7 Mantenimiento de caminos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="b8" ng-model="Mantenimiento2.Cercos" ng-if="Mantenimiento2.Caminos"/>
							<label for="b8"><span></span>B.8 Mantenimiento cercos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="b9" ng-model="Mantenimiento2.Incendios" ng-if="Mantenimiento2.Cercos"/>
							<label for="b9"><span></span>B.9 Protección contra incendios o barreras corta fuegos</label>
						</div>

					</form>
					<div class="col-md-8">
						<h2 style="font-size:20px"> Dasometria anual</h2>
						<hr />
                        <form id="tablaDasometria" name="formDasometria" ng-validate="validationOptions">
                            <table class="table table-striped table-bordered tablaFases">
                                <thead>
                                    <tr>
                                        <th>Identificación cosecha</th>
                                        <th>Altura Cm1</th>
                                        <th>Dap (cm) a 130 cm2</th>
                                        <th>Perímetro3 cm tallo a 130 cm</th>
                                        <th>Diámetro copa o dosel4(cm)</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dasometria in Dasometria">
                                        <th scope="row">{{dasometria.Mes}}</th>
                                        <td>
                                            <div class="form-group">
                                                <input class="form-control inputTablaFase" type="number" min="0" name="altura" ng-model="dasometria.Altura" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input class="form-control inputTablaFase" type="number" name="dap" ng-model="dasometria.Dap" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input class="form-control inputTablaFase" type="number" name="perimetro" ng-model="dasometria.Perimetro" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input class="form-control inputTablaFase" type="number" name="diametro" ng-model="dasometria.Diametro" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <textarea class="form-control inputTablaFase" type="text" name="observaciones" ng-model="dasometria.Observaciones"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-success btnFases btn-block" ng-click="GuardarDasometria(2, formDasometria)" style="float: right; display: inline-block;width:166px;">
                                Guardar Dasometría
                            </button>
                        </form>
					</div>
					<button type="submit" class="btn btn-success btnFases btn-block" ng-click="GuardarMantenimiento2(2)" style="display:inline-block">
						Guardar
					</button>
					
				</div>
			</div>
		</div>


		<div class="tab-pane fade" id="mantenimiento2" role="tabpanel" aria-labelledby="nav-contact-tab">
			<div class="row fase1 mantenimiento">
				<div class="col-md-12">
					<form class="col-md-4">
						<h2 style="font-size:20px"> Seguimiento de cultivo</h2>
						<hr />
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="c1" ng-model="Mantenimiento3.Planteos" />
							<label for="c1"><span></span>C.1 Planteos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="c2" ng-model="Mantenimiento3.Fertilizacion" ng-if="Mantenimiento3.Planteos" />
							<label for="c2"><span></span>C.2 Fertilización</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="c3" ng-model="Mantenimiento3.Podas" ng-if="Mantenimiento3.Fertilizacion" />
							<label for="c3"><span></span>C.3 Podas Reiterativas</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="c4" ng-model="Mantenimiento3.Plagas" ng-if="Mantenimiento3.Podas" />
							<label for="c4"><span></span>C.4 Control Plagas</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="c5" ng-model="Mantenimiento3.Enfermedades" ng-if="Mantenimiento3.Plagas" />
							<label for="c5"><span></span>C.5 Control Enfermedades</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="c6" ng-model="Mantenimiento3.Malezas" ng-if="Mantenimiento3.Enfermedades" />
							<label for="c6"><span></span>C.6 Control de Malezas</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="c7" ng-model="Mantenimiento3.Caminos" ng-if="Mantenimiento3.Malezas" />
							<label for="c7"><span></span>C.7 Mantenimiento de caminos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="c8" ng-model="Mantenimiento3.Cercos" ng-if="Mantenimiento3.Caminos" />
							<label for="c8"><span></span>C.8 Mantenimiento cercos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="c9" ng-model="Mantenimiento3.Incendios" ng-if="Mantenimiento3.Cercos" />
							<label for="c9"><span></span>C.9 Protección contra incendios o barreras corta fuegos</label>
						</div>
					</form>
					<div class="col-md-8">
						<h2 style="font-size:20px"> Dasometria anual</h2>
						<hr />
						<form id="tablaDasometria">
							<table class="table table-striped table-bordered tablaFases">
								<thead>
									<tr>
										<th>Identificación cosecha</th>
										<th>Altura Cm1</th>
										<th>Dap (cm) a 130 cm2</th>
										<th>Perímetro3 cm tallo a 130 cm</th>
										<th>Diámetro copa o dosel4(cm)</th>
										<th>Observaciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dasometria in Dasometria">
										<th scope="row">{{dasometria.Mes}}</th>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" min="0" name="altura" ng-model="dasometria.Altura" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" name="dap" ng-model="dasometria.Dap" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" name="perimetro" ng-model="dasometria.Perimetro" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" name="diametro" ng-model="dasometria.Diametro" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<textarea class="form-control inputTablaFase" type="text" name="observaciones" ng-model="dasometria.Observaciones"></textarea>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
					<button type="submit" class="btn btn-success btnFases btn-block" ng-click="GuardarMantenimiento2(3)" style="display:inline-block">
						Siguiente Fase
					</button>
					<button type="submit" class="btn btn-success btnFases btn-block" ng-click="GuardarDasometria(3)" style="float: right; display: inline-block;width:166px;">
						Guardar Dasometría
					</button>
				</div>
			</div>
		</div>


		<div class="tab-pane fade" id="mantenimiento3" role="tabpanel" aria-labelledby="nav-contact-tab">
			<div class="row fase1 mantenimiento">
				<div class="col-md-12">
					<form class="col-md-4">
						<h2 style="font-size:20px"> Seguimiento de cultivo</h2>
						<hr />
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="d1" ng-model="Mantenimiento4.Planteos" />
							<label for="d1"><span></span>D.1 Planteos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="d2" ng-model="Mantenimiento4.Fertilizacion" ng-if="Mantenimiento4.Planteos" />
							<label for="d2"><span></span>D.2 Fertilización</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="d3" ng-model="Mantenimiento4.Plagas" ng-if="Mantenimiento4.Fertilizacion" />
							<label for="d3"><span></span>D.3 Monitoreo plagas y enfermedades</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="d4" ng-model="Mantenimiento4.Caminos" ng-if="Mantenimiento4.Plagas" />
							<label for="d4"><span></span>D.4 Mantenimiento de caminos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="d5" ng-model="Mantenimiento4.Cercos" ng-if="Mantenimiento4.Caminos" />
							<label for="d5"><span></span>D.5 Mantenimiento de cercos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="d6" ng-model="Mantenimiento4.Incendios" ng-if="Mantenimiento4.Cercos" />
							<label for="d6"><span></span>D.6 Protección contra incendios o barreras corta fuegos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="d7" ng-model="Mantenimiento4.Raleos" ng-if="Mantenimiento4.Incendios" />
							<label for="d7"><span></span>D.7 Primer Raleo (50 % población Inicial)</label>
						</div>
					</form>
					<div class="col-md-8">
						<h2 style="font-size:20px"> Dasometria anual</h2>
						<hr />
						<form id="tablaDasometria">
							<table class="table table-striped table-bordered tablaFases">
								<thead>
									<tr>
										<th>Identificación cosecha</th>
										<th>Altura Cm1</th>
										<th>Dap (cm) a 130 cm2</th>
										<th>Perímetro3 cm tallo a 130 cm</th>
										<th>Diámetro copa o dosel4(cm)</th>
										<th>Observaciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dasometria in Dasometria">
										<th scope="row">{{dasometria.Mes}}</th>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" min="0" name="altura" ng-model="dasometria.Altura" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" name="dap" ng-model="dasometria.Dap" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" name="perimetro" ng-model="dasometria.Perimetro" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" name="diametro" ng-model="dasometria.Diametro" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<textarea class="form-control inputTablaFase" type="text" name="observaciones" ng-model="dasometria.Observaciones"></textarea>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
					<button type="submit" class="btn btn-success btnFases btn-block" ng-click="GuardarMantenimiento3(4)" style="display:inline-block">
						Siguiente Fase
					</button>
					<button type="submit" class="btn btn-success btnFases btn-block" ng-click="GuardarDasometria(4)" style="float: right; display: inline-block;width:166px;">
						Guardar Dasometría
					</button>
				</div>
			</div>
		</div>


		<div class="tab-pane fade" id="mantenimiento4" role="tabpanel" aria-labelledby="nav-contact-tab">
			<div class="row fase1 mantenimiento">
				<div class="col-md-12">
					<form class="col-md-4">
						<h2 style="font-size:20px"> Seguimiento de cultivo</h2>
						<hr />
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="e1" ng-model="Mantenimiento5.Planteos" />
							<label for="e1"><span></span>E.1 Planteos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="e2" ng-model="Mantenimiento5.Fertilizacion" ng-if="Mantenimiento5.Planteos" />
							<label for="e2"><span></span>E.2 Fertilización</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="e3" ng-model="Mantenimiento5.Plagas" ng-if="Mantenimiento5.Fertilizacion" />
							<label for="e3"><span></span>E.3 Monitoreo plagas y enfermedades</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="e4" ng-model="Mantenimiento5.Caminos" ng-if="Mantenimiento5.Plagas" />
							<label for="e4"><span></span>E.4 Mantenimiento de caminos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="e5" ng-model="Mantenimiento5.Cercos" ng-if="Mantenimiento5.Caminos" />
							<label for="e5"><span></span>E.5 Mantenimiento de cercos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="e6" ng-model="Mantenimiento5.Incendios" ng-if="Mantenimiento5.Cercos" />
							<label for="e6"><span></span>E.6 Protección contra incendios o barreras corta fuegos</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="name" value="" id="e7" ng-model="Mantenimiento5.Raleos" ng-if="Mantenimiento5.Incendios" />
							<label for="e7"><span></span>E.7 Segundo Raleo (50 % población restante)</label>
						</div>
					</form>
					<div class="col-md-8">
						<h2 style="font-size:20px"> Dasometria anual</h2>
						<hr />
						<form id="tablaDasometria">
							<table class="table table-striped table-bordered tablaFases">
								<thead>
									<tr>
										<th>Identificación cosecha</th>
										<th>Altura Cm1</th>
										<th>Dap (cm) a 130 cm2</th>
										<th>Perímetro3 cm tallo a 130 cm</th>
										<th>Diámetro copa o dosel4(cm)</th>
										<th>Observaciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dasometria in Dasometria">
										<th scope="row">{{dasometria.Mes}}</th>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" min="0" name="altura" ng-model="dasometria.Altura" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" name="dap" ng-model="dasometria.Dap" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" name="perimetro" ng-model="dasometria.Perimetro" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input class="form-control inputTablaFase" type="number" name="diametro" ng-model="dasometria.Diametro" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<textarea class="form-control inputTablaFase" type="text" name="observaciones" ng-model="dasometria.Observaciones"></textarea>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
					<button type="submit" class="btn btn-success btnFases btn-block" ng-click="GuardarMantenimiento3(5)" 
							style="display:inline-block" >
						Siguiente Fase
					</button>
					<button type="submit" class="btn btn-success btnFases btn-block" ng-click="GuardarDasometria(5)" style="float: right; display: inline-block;width:166px;">
						Guardar Dasometría
					</button>
				</div>
			</div>
		</div>

	</div>
</div>

<footer style="margin-top:0px">
<h3 style="text-align:center; color:white; padding-top:25px	;margin-top: 0px">Fábrica de software 2018 &copy;</h3>
</footer>
