body {
	overflow-x: hidden;
	font-family: Poppins-Regular;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}

.contenedor {
	overflow-x: hidden;
	width: 700%;
	height: 100vh;
	position: relative;
	display: inline-flex;
}

section {
	display: inline-block;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	overflow: auto;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

md-switch.md-checked .md-bar {
	background-color: rgba(130,162,13,0.54) !important;
}

md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
	background-color: #82a20d !important;
}

/*-----------SECCION DE INICIO-------------*/

.index {
	width: 100%;
	height:100%;
	background-image: url('../Images/FondoIncio.png');
	overflow-y: hidden;
	overflow-x: hidden;
}

.logo img {
	margin: 0px auto;
	display: block;
	padding-top: 60px;
	width: 235px;
}

.txtInicio {
	margin: 30px;
	text-align: center;
	font-family: Poppins-Light;
	font-size: 30px;
	color: #4C4C4C;
}

.selectCargo form {
	display: inline-block;
	margin: 0px auto;
}


.selectCargo {
	margin: 30px;
	text-align: center;
	font-family: Poppins-Light;
	font-size: 23px;
	color: #4C4C4C;
}

	.selectCargo input {
		margin: 10px;
		float: left;
	}

	.selectCargo label {
		font-weight: normal;
		float: left;
		margin-bottom: 21px;
	}

.radio {
	border: 2px solid #82A20D;
}

#botonPasar {
	display: none;
}

.md-container {
	margin-top: 12px !important;
}

.boton {
	background: #82A20D;
	border-radius: 20px 0px 20px 0px;
	padding: 5px;
	border: none;
	width: 156px;
	height: 40px;
	font-family: Poppins-Medium;
	font-size: 15px;
	display: block;
	margin: 20px auto;
}

	.boton:hover {
		background: #6a8204;
	}

.tierra img {
	display: block;
	margin: 0 auto;
}

.nubes {
	position: absolute;
	z-index: 999;
	bottom: 20px;
}

#nube1 {
	position: absolute;
	left: -300px;
	bottom: 120px;
	animation: moverDer infinite 10s;
}

@keyframes moverDer {
	0% {
		left: -300px;
	}

	100% {
		left: 1700px;
	}
}

#nube2 {
	position: absolute;
	left: 0px;
	bottom: 200px;
	animation: moverIzq infinite 12s;
}


#nube3 {
	position: absolute;
	left: 1600px;
	bottom: 80px;
	animation: moverIzq infinite 10s;
}

@keyframes moverIzq {
	0% {
		left: 1600px;
	}

	100% {
		left: -300px;
	}
}

#nube4 {
	position: absolute;
	left: 1600px;
	bottom: -10px;
	animation: moverDer infinite 12s;
}

.der {
	position: absolute;
	right: 10px;
	top: 48%;
	cursor: pointer;
}

.izq {
	position: absolute;
	left: 10px;
	top: 48%;
	cursor: pointer;
}


/*----------------TRANSPORTE------------------*/
.transporte {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('../Images/MockupWebHuella_De_Carbono_Transporte.png');
}

.logoEncuesta {
	padding: 15px;
}


	.logoEncuesta img {
		width: 170px;
	}

.txtPregunta {
	font-family: Poppins-Regular;
	font-size: 30px;
	text-align: center;
	color: #4C4C4C;
	margin: 35px;
}

.preguntas {
	margin: 10px;
}

.mediosTrans {
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	color: #4C4C4C;
	font-family: Poppins-Light;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid #4C4C4C;
}

	.mediosTrans option {
		padding: 0px 3px;
		background: none;
		border: none;
		font-family: Poppins-Light;
		font-size: 25px;
		text-align: center;
		border-bottom: 1px solid #4C4C4C;
	}

.bar {
	position: relative;
}

.gris {
	position: absolute;
	width: 22%;
	height: 20px;
	border-radius: 20px;
	background: #4c4c4c;
	right: 0px;
	left: 0px;
	z-index: 998;
	margin: 0 auto;
}

.degradado {
	position: absolute;
	right: 0px;
	left: 0px;
	width: 22%;
	height: 20px;
	border-radius: 20px;
	background: linear-gradient(to right,#FFAA3B,#FF5A19);
	margin: 0 auto;
}

.cont1SlideBar {
	width: 100%;
	text-align: center;
	position: relative;
	margin: 10px auto;
	display: inline-block;
	right: 0px;
	left: 0px;
	font-size: 20px;
	color: #505050;
}

.circulo {
	top: -4px;
	position: absolute;
	display: block;
	margin: auto;
	right: 0px;
	left: -338px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: white;
	border: 2px solid #4c4c4c;
	z-index: 999;
	cursor: pointer;
}

/*---------------------VUELOS--------------------*/
.vuelos {
	background-image: url('../Images/fondoVuelos.png');
	width: 100%;
	height: 100vh;
}


/*-------------------------PAPEL-------------------------*/
.papel {
	background-image: url('../Images/fondoPapel.png');
	width: 100%;
	height: 100vh;
}

/*-------------------------CONCIENCIA 1-------------------------*/
.conciencia1 {
	width: 100%;
	background-image: url('../Images/fondoConciencia.png');
	height: 100vh;
}

.preguntaPapel {
	margin-top: 30px !important;
}

/*-------------------------CONCIENCIA 2-------------------------*/
.conciencia2 {
	width: 100%;
	background-image: url('../Images/fondoConciencia2.png');
	height: 100vh;
}

.siNo {
	margin: 0px 5px;
	display: inline-block;
}

md-switch {
	margin: 0px auto;
	display: inline-block;
}

.contSwitch {
	text-align: center;
}

.luz {
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	color: #4C4C4C;
	font-family: Poppins-Light;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid #4C4C4C;
}

	.luz option {
		padding: 0px 3px;
		background: none;
		border: none;
		font-family: Poppins-Light;
		font-size: 25px;
		text-align: center;
		border-bottom: 1px solid #4C4C4C;
	}


.aparatos {
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	color: #4C4C4C;
	font-family: Poppins-Light;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid #4C4C4C;
}

	.aparatos option {
		padding: 0px 3px;
		background: none;
		border: none;
		font-family: Poppins-Light;
		font-size: 25px;
		text-align: center;
		border-bottom: 1px solid #4C4C4C;
	}

.computador {
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	color: #4C4C4C;
	font-family: Poppins-Light;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid #4C4C4C;
}

	.computador option {
		padding: 0px 3px;
		background: none;
		border: none;
		font-family: Poppins-Light;
		font-size: 25px;
		text-align: center;
		border-bottom: 1px solid #4C4C4C;
	}

/*-------------------------FINAL-------------------------*/
.final {
	width: 100%;
	background-image: url('../Images/fondoFinal.png');
	height: 100vh;
}


/*Switch*/
.switchdemoBasicUsage .inset {
	padding-left: 25px;
	padding-top: 25px;
}

#aviso-movil-horizontal {
	width: 100%;
	height: 100vh;
	background: #5896cc;
	color: white;
	text-align: center;
	line-height: 50%;
	display: none;
}

.imgGirar {
	display: block;
	margin: 50px auto;
	max-width: 300px;
}

.aviso {
	font-family: Poppins-Medium;
	font-size: 60px;
	color: white;
	padding: 20px;
	text-align: center;
	line-height: 75px;
}

@media only screen and (orientation:portrait) {
	#sigue {
		display: none;
	}

	#aviso-movil-horizontal {
		display: block;
	}
}

@media only screen and (orientation:landscape) {
	#aviso-movil-horizontal {
		display: none;
	}
}

/*Responsive*/
@media (max-width: 576px) {
	.contenedor {
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.index {
		overflow-y: scroll;
	}
	
	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 24% !important;
	}

	.logoEncuesta {
		position: inherit !important;
	}

		.logoEncuesta img {
			width: 110px;
		}

	.preguntas {
		margin: 30px;
	}

	.rzslider {
		width: 50%;
	}

	.txtPregunta {
		margin: 15px;
		font-size: 20px;
	}

	.mediosTrans {
		font-size: 18px;
	}

	.logo img {
		width: 180px;
	}

	.txtInicio {
		font-size: 22px;
		margin: 15px;
	}

	.txtRol {
		font-size: 18px;
		float:left;
	}

	.preguntaPapel {
		margin-top: 30px !important;
	}

	.cont1SlideBar {
		font-size: 18px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

	.tierra img {
		width:500px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}


@font-face {
	font-family: 'Poppins-Light';
	src: url('../Fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('../Fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoLight';
	src: url('../Fonts/ROBOTO-LIGHT_0.TTF') format('truetype');
}

@font-face {
	font-family: 'ROBOTO-MEDIUM';
	src: url('../Fonts/ROBOTO-MEDIUM.TTF') format('truetype');
}

@font-face {
	font-family: 'ROBOTO-REGULAR';
	src: url('../Fonts/ROBOTO-REGULAR.TTF') format('truetype');
}


/*----------------------------------------------------------------------------L-O-G-I-N-----------------------------------------------------------------------------------------------*/

.contenedorLogin {
	background: url('../Images/802.jpg') center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	font-family: Poppins-Regular;
}

.contenedorLogearse {
	border-radius: 20px;
	display: block;
	background: white;
	width: 22.5%;
	height: 55vh;
	margin: 0px auto;
	position: absolute;
	top: 20%;
	bottom: 0px;
	right: 0px;
	left: 0px;
	box-shadow: 1px 1px 26px #282828;
}

.formulario {
	display: block;
	margin: 25px auto;
	font-family: Poppins-Light;
}

.form-control {
	font-family: Poppins-Light;
	border: 1px solid #82a20d;
}

label{
	font-weight:normal;
}


.logo {
	display: block;
	margin: 20px auto;
}

/*----------------------------------------------------------------------------D-A-S-H-B-O-A-R-D-----------------------------------------------------------------------------------------------*/

.wrapper {
	overflow: hidden;
	height: 100vh;
	width: 100%;
	background: rgba(130,162,13,0.6);
	z-index: 999;
}

.wrapper1 {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100vh;
	background: #82a20d;
	top: 0px;
	left: -10px;
	z-index: 998;
}

.menu li {
	display: block;
	float: left;
	margin: 10px auto;
}

.logoAdmin img {
	display: block;
	position: absolute;
	margin: 5px auto;
	width: 120px;
	top: -130px;
	right: 0px;
	left: 0px;
}

.contenido {
	margin: 0px;
	padding: 0px;
}

.barraNotificaciones {
	background: #182430;
	width: 100%;
	height: 130px;
	margin: 0px;
	box-shadow: 4px 2px 10px #dedede;
	line-height: 70px;
}

.iconos {
	color: #182430;
	font-size: 25px;
	margin: 10px;
}

.nav-link {
	color: white;
}

	.nav-link:hover {
		border-bottom: 1px solid white;
		color: white;
	}

.imgSideBar {
	height: 100vh;
	position: absolute;
	top: 0px;
	left: -60px;
	z-index: -1;
}

.iconosTabla {
	margin: 5px;
	font-size: 20px;
	text-align: center;
}

	.iconosTabla:hover {
		color: #82a20d;
	}

.item {
	display: inline-block;
	margin: 20px auto;
}

.tabla {
	display: block;
	margin: 30px auto;
}

.circleProgress {
	display: block;
	margin: 20px auto;
}

.col-md-3 {
	max-width: 24.8% !important;
}

.derIcon {
	float: right;
	line-height: 70px;
	margin-top:20px;
}

.modalData{
	margin:10px;
}

footer {
	margin-top: 20px;
	width: 100%;
	height: 75px;
	line-height: 70px;
	background: #182430;
}

.fase1 {
	padding: 20px;
}

.dentro10 {
	margin-left: 30px;
}

.fasesMenu {
	height: 100vh;
	background: #82a20d;
}

.nav-link {
	color: white;
	font-family:Poppins-Medium;
	display:block;
}

	.nav-link:hover {
		color: #4e600a;
		border: none;
	}


	.nav-link:active {
		color: #4e600a;
		border: none;
	}

	.nav-link:focus {
		color: #4e600a;
		border: none;
	}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #4e600a;
}


.tab{
	margin:20px;

}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-primary {
	border: none;
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #82a20d;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.miBtn{
	background:none;
	border:none;
	margin:0px;
	padding:0px;
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #dadada;
}
.btnFases {
	margin: 15px;
	background: #82A20D;
	border-radius: 20px 0px 20px 0px;
	padding: 5px;
	border: none;
	width: 156px;
	height: 40px;
	font-family: Poppins-Medium;
	font-size: 15px;
}

	.btnFases:hover {
		background: #708915;
		border:none;
	}

	.btnFases:active {
		background: #708915;
	}
	.btnFases:focus {
		background: #708915;
	}

	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"] + label span {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: -1px 4px 0 0;
		vertical-align: middle;
		background: url('../Images/checkbox.png') left top no-repeat;
		cursor: pointer;
	}

	input[type="checkbox"]:checked + label span {
		background: url('../Images/checkbox.png') -20px top no-repeat;
	}

.check10{
	margin-left:40px;
}

.form-control2 {
	float: inherit;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 2px solid #82a328;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.inputTablaFase {
	border: 2px solid #82a328;

}

/*Notificscione*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

main {
	margin-left: 100px;
	padding: 20px;
}

h1 {
	font-family: Poppins-Medium;
	font-weight: 400;
	font-size: 30px;
}

.dots{
	margin:10px;
}

ul.dots * {
	/* disable border-box from bootstrap */
	margin:5px;
	box-sizing: content-box;
	list-style-type: none;
}

ul.dots a {
	text-decoration: none;
	font-size: 20px;
	color: #34495e;
}

	ul.dots a:hover {
		text-decoration: none;
		font-size: 20px;
		color: #bdc3c7;
	}

ul.dots li {
	display: box;
	position: relative;
	width: 100%;
	padding: 10px 0;
	cursor:pointer;
}

.notificacionesCont {
	width: 200px;
	z-index: 1;
	position: absolute;
	height: 200px;
	border-radius: 10px;
	background: white;
	box-shadow: 1px 1px 9px #b7b7b7;
	right: 40px;
	top: 105px;
	display:none;
	animation-duration:1s;
	animation:ease-in;
}

.Notificacionestitulo{
	padding:5px;
}

	.Notificacionestitulo p {
		font-size:14px;
		line-height:35px;
	}

ul.dots li span {
	display: block;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #FFF;
	-webkit-box-shadow: 1px 1px 5px #808080;
	-moz-box-shadow: 1px 1px 5px #808080;
	box-shadow: 1px 1px 5px #808080;
	padding: 10px;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
	position: relative;
}

	ul.dots li mark {
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		border: 2px solid #FFF;
		width: 20px;
		height: 20px;
		background-color: #FF6B6B;
		position: absolute;
		top: -5px;
		left: -10px;
		font-size: 10px;
		line-height: 20px;
		font-family: Poppins-Medium;
		font-weight: 400;
		color: #FFF;
		font-weight: 700;
	}

		ul.dots li mark.big {
			width: 30px;
			height: 30px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			line-height: 30px;
			font-size: 16px;
			top: -10px;
			left: -15px;
		}

		ul.dots li mark.green {
			background-color: #27ae60;
		}

		ul.dots li mark.blue {
			background-color: #3498db;
		}

ul.dots > li > a > span > mark {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

ul.dots > li:hover > a > span > mark {
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

	ul.dots > li:hover > a > span > mark.rubberBand {
		-webkit-animation-name: rubberBand;
		animation-name: rubberBand;
		cursor:pointer;
	}

	ul.dots > li:hover > a > span > mark.swing {
		-webkit-transform-origin: top center;
		-ms-transform-origin: top center;
		transform-origin: top center;
		-webkit-animation-name: swing;
		animation-name: swing;
	}

	ul.dots > li:hover > a > span > mark.tada {
		-webkit-animation-name: tada;
		animation-name: tada;
	}

	ul.dots > li:hover > a > span > mark.wobble {
		-webkit-animation-name: wobble;
		animation-name: wobble;
	}

li {
	list-style-type: circle;
}

code {
	background: #ecf0f1;
}

/* animation keyframes */
@-webkit-keyframes bounce {
	0%, 20%, 53%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	40%, 43% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0);
	}
}

@keyframes bounce {
	0%, 20%, 53%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	40%, 43% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0);
	}
}

@-webkit-keyframes bounceIn {
	0%, 20%, 40%, 60%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes bounceIn {
	0%, 20%, 40%, 60%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 1;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

@keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes wobble {
	0% {
		-webkit-transform: none;
		transform: none;
	}

	15% {
		-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}

	30% {
		-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}

	45% {
		-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}

	60% {
		-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}

	75% {
		-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}

	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes wobble {
	0% {
		-webkit-transform: none;
		transform: none;
	}

	15% {
		-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}

	30% {
		-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}

	45% {
		-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}

	60% {
		-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}

	75% {
		-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}

	100% {
		-webkit-transform: none;
		transform: none;
	}
}

.filtro{
	float:right;
	margin:10px;
}

.buscarProyecto::placeholder {
	color: #82a20d;
	font-weight:200;
}
