body {
	overflow-x: hidden;
	font-family: Poppins-Regular;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}

.contenedor {
	overflow-x: hidden;
	width: 700%;
	height: 100vh;
	position: relative;
	display: inline-flex;
}

section {
	display: inline-block;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	overflow: auto;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

md-switch.md-checked .md-bar {
	background-color: rgba(130,162,13,0.54) !important;
}

md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
	background-color: #82a20d !important;
}

/*-----------SECCION DE INICIO-------------*/

.index {
	width: 100%;
	height:100%;
	background-image: url('../Images/FondoIncio.png');
	overflow-y: hidden;
	overflow-x: hidden;
}

.logo img {
	margin: 0px auto;
	display: block;
	padding-top: 60px;
	width: 235px;
}

.txtInicio {
	margin: 30px;
	text-align: center;
	font-family: Poppins-Light;
	font-size: 30px;
	color: #4C4C4C;
}

.selectCargo form {
	display: inline-block;
	margin: 0px auto;
}


.selectCargo {
	margin: 30px;
	text-align: center;
	font-family: Poppins-Light;
	font-size: 23px;
	color: #4C4C4C;
}

	.selectCargo input {
		margin: 10px;
		float: left;
	}

	.selectCargo label {
		font-weight: normal;
		float: left;
		margin-bottom: 21px;
	}

.radio {
	border: 2px solid #82A20D;
}

#botonPasar {
	display: none;
}

.md-container {
	margin-top: 12px !important;
}

.boton {
	background: #82A20D;
	border-radius: 20px 0px 20px 0px;
	padding: 5px;
	border: none;
	width: 156px;
	height: 40px;
	font-family: Poppins-Medium;
	font-size: 15px;
	display: block;
	margin: 20px auto;
}

	.boton:hover {
		background: #6a8204;
	}

.tierra img {
	display: block;
	margin: 0 auto;
}

.nubes {
	position: absolute;
	z-index: 999;
	bottom: 20px;
}

#nube1 {
	position: absolute;
	left: -300px;
	bottom: 120px;
	animation: moverDer infinite 10s;
}

@keyframes moverDer {
	0% {
		left: -300px;
	}

	100% {
		left: 1700px;
	}
}

#nube2 {
	position: absolute;
	left: 0px;
	bottom: 200px;
	animation: moverIzq infinite 12s;
}


#nube3 {
	position: absolute;
	left: 1600px;
	bottom: 80px;
	animation: moverIzq infinite 10s;
}

@keyframes moverIzq {
	0% {
		left: 1600px;
	}

	100% {
		left: -300px;
	}
}

#nube4 {
	position: absolute;
	left: 1600px;
	bottom: -10px;
	animation: moverDer infinite 12s;
}

.der {
	position: absolute;
	right: 10px;
	top: 48%;
	cursor: pointer;
}

.izq {
	position: absolute;
	left: 10px;
	top: 48%;
	cursor: pointer;
}


/*----------------TRANSPORTE------------------*/
.transporte {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('../Images/MockupWebHuella_De_Carbono_Transporte.png');
}

.logoEncuesta {
	padding: 15px;
}


	.logoEncuesta img {
		width: 170px;
	}

.txtPregunta {
	font-family: Poppins-Regular;
	font-size: 30px;
	text-align: center;
	color: #4C4C4C;
	margin: 35px;
}

.preguntas {
	margin: 10px;
}

.mediosTrans {
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	color: #4C4C4C;
	font-family: Poppins-Light;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid #4C4C4C;
}

	.mediosTrans option {
		padding: 0px 3px;
		background: none;
		border: none;
		font-family: Poppins-Light;
		font-size: 25px;
		text-align: center;
		border-bottom: 1px solid #4C4C4C;
	}

.bar {
	position: relative;
}

.gris {
	position: absolute;
	width: 22%;
	height: 20px;
	border-radius: 20px;
	background: #4c4c4c;
	right: 0px;
	left: 0px;
	z-index: 998;
	margin: 0 auto;
}

.degradado {
	position: absolute;
	right: 0px;
	left: 0px;
	width: 22%;
	height: 20px;
	border-radius: 20px;
	background: linear-gradient(to right,#FFAA3B,#FF5A19);
	margin: 0 auto;
}

.cont1SlideBar {
	width: 100%;
	text-align: center;
	position: relative;
	margin: 10px auto;
	display: inline-block;
	right: 0px;
	left: 0px;
	font-size: 20px;
	color: #505050;
}

.circulo {
	top: -4px;
	position: absolute;
	display: block;
	margin: auto;
	right: 0px;
	left: -338px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: white;
	border: 2px solid #4c4c4c;
	z-index: 999;
	cursor: pointer;
}

/*---------------------VUELOS--------------------*/
.vuelos {
	background-image: url('../Images/fondoVuelos.png');
	width: 100%;
	height: 100vh;
}


/*-------------------------PAPEL-------------------------*/
.papel {
	background-image: url('../Images/fondoPapel.png');
	width: 100%;
	height: 100vh;
}

/*-------------------------CONCIENCIA 1-------------------------*/
.conciencia1 {
	width: 100%;
	background-image: url('../Images/fondoConciencia.png');
	height: 100vh;
}

.preguntaPapel {
	margin-top: 30px !important;
}

/*-------------------------CONCIENCIA 2-------------------------*/
.conciencia2 {
	width: 100%;
	background-image: url('../Images/fondoConciencia2.png');
	height: 100vh;
}

.siNo {
	margin: 0px 5px;
	display: inline-block;
}

md-switch {
	margin: 0px auto;
	display: inline-block;
}

.contSwitch {
	text-align: center;
}

.luz {
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	color: #4C4C4C;
	font-family: Poppins-Light;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid #4C4C4C;
}

	.luz option {
		padding: 0px 3px;
		background: none;
		border: none;
		font-family: Poppins-Light;
		font-size: 25px;
		text-align: center;
		border-bottom: 1px solid #4C4C4C;
	}


.aparatos {
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	color: #4C4C4C;
	font-family: Poppins-Light;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid #4C4C4C;
}

	.aparatos option {
		padding: 0px 3px;
		background: none;
		border: none;
		font-family: Poppins-Light;
		font-size: 25px;
		text-align: center;
		border-bottom: 1px solid #4C4C4C;
	}

.computador {
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	color: #4C4C4C;
	font-family: Poppins-Light;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid #4C4C4C;
}

	.computador option {
		padding: 0px 3px;
		background: none;
		border: none;
		font-family: Poppins-Light;
		font-size: 25px;
		text-align: center;
		border-bottom: 1px solid #4C4C4C;
	}

/*-------------------------FINAL-------------------------*/
.final {
	width: 100%;
	background-image: url('../Images/fondoFinal.png');
	height: 100vh;
}


/*Switch*/
.switchdemoBasicUsage .inset {
	padding-left: 25px;
	padding-top: 25px;
}

#aviso-movil-horizontal {
	width: 100%;
	height: 100vh;
	background: #5896cc;
	color: white;
	text-align: center;
	line-height: 50%;
	display: none;
}

.imgGirar {
	display: block;
	margin: 50px auto;
	max-width: 300px;
}

.aviso {
	font-family: Poppins-Medium;
	font-size: 60px;
	color: white;
	padding: 20px;
	text-align: center;
	line-height: 75px;
}

@media only screen and (orientation:portrait) {
	#sigue {
		display: none;
	}

	#aviso-movil-horizontal {
		display: block;
	}
}

@media only screen and (orientation:landscape) {
	#aviso-movil-horizontal {
		display: none;
	}
}

/*Responsive*/
@media (max-width: 576px) {
	.contenedor {
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.index {
		overflow-y: scroll;
	}
	
	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 24% !important;
	}

	.logoEncuesta {
		position: inherit !important;
	}

		.logoEncuesta img {
			width: 110px;
		}

	.preguntas {
		margin: 30px;
	}

	.rzslider {
		width: 50%;
	}

	.txtPregunta {
		margin: 15px;
		font-size: 20px;
	}

	.mediosTrans {
		font-size: 18px;
	}

	.logo img {
		width: 180px;
	}

	.txtInicio {
		font-size: 22px;
		margin: 15px;
	}

	.txtRol {
		font-size: 18px;
		float:left;
	}

	.preguntaPapel {
		margin-top: 30px !important;
	}

	.cont1SlideBar {
		font-size: 18px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

	.tierra img {
		width:500px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}


@font-face {
	font-family: 'Poppins-Light';
	src: url('../Fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('../Fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoLight';
	src: url('../Fonts/ROBOTO-LIGHT_0.TTF') format('truetype');
}

@font-face {
	font-family: 'ROBOTO-MEDIUM';
	src: url('../Fonts/ROBOTO-MEDIUM.TTF') format('truetype');
}

@font-face {
	font-family: 'ROBOTO-REGULAR';
	src: url('../Fonts/ROBOTO-REGULAR.TTF') format('truetype');
}


/*----------------------------------------------------------------------------L-O-G-I-N-----------------------------------------------------------------------------------------------*/

.contenedorLogin {
	background: url('../Images/802.jpg') center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	font-family: Poppins-Regular;
}

.contenedorLogearse {
	border-radius: 20px;
	display: block;
	background: white;
	width: 22.5%;
	height: 55vh;
	margin: 0px auto;
	position: absolute;
	top: 20%;
	bottom: 0px;
	right: 0px;
	left: 0px;
	box-shadow: 1px 1px 26px #282828;
}

.formulario {
	display: block;
	margin: 25px auto;
	font-family: Poppins-Light;
}

.form-control {
	font-family: Poppins-Light;
	border: 1px solid #82a20d;
}

label{
	font-weight:normal;
}


.logo {
	display: block;
	margin: 20px auto;
}

/*----------------------------------------------------------------------------D-A-S-H-B-O-A-R-D-----------------------------------------------------------------------------------------------*/

.wrapper {
	overflow: hidden;
	height: 100vh;
	width: 100%;
	background: rgba(130,162,13,0.6);
	z-index: 999;
}

.wrapper1 {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100vh;
	background: #82a20d;
	top: 0px;
	left: -10px;
	z-index: 998;
}

.menu li {
	display: block;
	float: left;
	margin: 10px auto;
}

.logoAdmin img {
	display: block;
	position: absolute;
	margin: 5px auto;
	width: 120px;
	top: -50px;
	right: 0px;
	left: 0px;
}

.contenido {
	margin: 0px;
	padding: 0px;
}

.barraNotificaciones {
	background: #182430;
	width: 100%;
	height: 130px;
	margin: 0px;
	box-shadow: 4px 2px 10px #dedede;
	line-height: 70px;
}

.iconos {
	color: white;
	font-size: 25px;
	margin: 10px;
}

.nav-link {
	color: white;
}

	.nav-link:hover {
		border-bottom: 1px solid white;
		color: white;
	}

.imgSideBar {
	height: 100vh;
	position: absolute;
	top: 0px;
	left: -60px;
	z-index: -1;
}

.iconosTabla {
	margin: 5px;
	font-size: 20px;
	text-align: center;
}

	.iconosTabla:hover {
		color: #82a20d;
	}

.item {
	display: inline-block;
	margin: 20px auto;
}

.tabla {
	display: block;
	margin: 30px auto;
}

.circleProgress {
	display: block;
	margin: 20px auto;
}

.col-md-3 {
	max-width: 24.8% !important;
}

.derIcon {
	float: right;
	line-height: 70px;
	margin-top:20px;
}

footer {
	margin-top:20px;
	width: 100%;
	height: 75px;
	line-height: 70px;
	background: #182430;
}

.fase1 {
	padding: 20px;
}

.dentro10 {
	margin-left: 30px;
}

.fasesMenu {
	height: 100vh;
	background: #82a20d;
}

.nav-link {
	color: white;
	font-family:Poppins-Medium;
	display:block;
}

	.nav-link:hover {
		color: #4e600a;
		border: none;
	}


	.nav-link:active {
		color: #4e600a;
		border: none;
	}

	.nav-link:focus {
		color: #4e600a;
		border: none;
	}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #4e600a;
}


.tab{
	margin:20px;

}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-primary {
	border: none;
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #82a20d;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.miBtn{
	background:none;
	border:none;
	margin:0px;
	padding:0px;
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #dadada;
}
.btnFases {
	margin: 15px;
	background: #82A20D;
	border-radius: 20px 0px 20px 0px;
	padding: 5px;
	border: none;
	width: 156px;
	height: 40px;
	font-family: Poppins-Medium;
	font-size: 15px;
}

	.btnFases:hover {
		background: #708915;
		border:none;
	}

	.btnFases:active {
		background: #708915;
	}
	.btnFases:focus {
		background: #708915;
	}

	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"] + label span {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: -1px 4px 0 0;
		vertical-align: middle;
		background: url('../Images/checkbox.png') left top no-repeat;
		cursor: pointer;
	}

	input[type="checkbox"]:checked + label span {
		background: url('../Images/checkbox.png') -20px top no-repeat;
	}

.check10{
	margin-left:40px;
}

.form-control2 {
	float: inherit;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 2px solid #82a328;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.inputTablaFase {
	border: 2px solid #82a328;
}
